{{ define "title" }}progress {{ .Db }}{{end}}
{{ define "host" }}{{ .Host }}{{end}}
{{ define "db" }}{{ .Db}}{{end}}
{{ define "body" }}
    <table class="table table-hover table-sm table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Tables - <span class="badge badge-dark">{{ len .Tables }}</span></th>
            <th scope="col">Actions</th>
            <th scope="col">Schedule Time</th>
            <th scope="col">Last backup</th>
        </tr>
        </thead>
        <tbody>
        {{ range $table := .Tables }}
            <tr>
                <td>{{ index $table `namespace` }}:{{ index $table `tablename`}}</td>
                <td>
                    <a href="/start?db=hbase&&host={{ $.Host }}&&port={{ $.Port }}&&namespace={{ index $table `namespace` }}&&table={{ index $table `tablename`}}" class="btn btn-outline-success my-2 my-sm-0">instant backup</a>
                </td>
                <td>
                    <form class="form-inline" action="/schedule?db=hbase&&host={{ $.Host }}&&port={{ $.Port }}&&namespace={{ index $table `namespace` }}&&table={{ index $table `tablename`}}" method="POST">
                        <input type="submit" value="Schedule" class="btn btn-outline-danger my-2 my-sm-0"/>
                        <input class="form-control" type="time" value="22:00:00" name="schedule-time">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="schedule-daily"> Daily
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="schedule-weekly" disabled> Weekly
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="schedule-monthly" disabled> Monthly
                        </label>
                    </form>
                </td>
                <td>{{ index $table `lastbackup` }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
{{end}}
